* {
    margin: 0;
    padding: 0;
}

/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("/project-FindU/public/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #8A25EF; */
}

.container {
    width: 100%;    
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 20%;
    height: auto;
}

.content {
    width: 80%;
    height: auto;
}

header
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

.box-header-left
{
    width: 75%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.box-header-right
{
    width: 25%;
    height: 100%;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer
{
    width: 100%;
    height: auto;
    background-color: beige;
}