.sidebar {
    background-color: aquamarine;
}

.logo {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.menu {
    width: 100%;
    background-color: skyblue;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu-level-2 {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.items {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    padding: 10px 0px;
}

.items:hover .menu-level-2 {
    display: block;
    background-color: lightgray;
}

.box-form-khoa {
    display: none;
}

.box-form-khoa.block {
    display: block;
}


.menu-title {
    width: 100%;
    padding: 10px 0px
}

/* Chức năng khóa tài khoảng add js */
.timeKhoa.none {
    display: none;
}

.timeKhoa.block {
    display: block;
}


/* Form info nhân viên */
.box-form-info-nhanvien
{
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.title-form-info-nv
{
    text-align: center;
}

.form-info-nhanvien
{
    width: 100%;
    height: auto;
    display: flex;
}

.box-form-info-nhanvien .box-left-info-nv, .box-right-info-nv
{
    width: 50%;
    height: 100%;
    border: 1px solid pink;
    align-content: center;
    justify-content: center;
    padding: 0px 10px;
}



.form-info-nhanvien p
{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px 0px;
}

.form-info-nhanvien label
{
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 10px;
    text-align: right;
}

.form-info-nhanvien input[type="text"], input[type="date"], input[type="password"]
{
    width: 65%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(232, 229, 225);
}

.table-info-nv
{
    width: 100%;
    height: auto;
    border: 1px solid skyblue;
    text-align: center;
}


/* Đổi mật khẩu */
.box-doi-password
{
    width: 40%;
    height: auto;
    position: fixed;
    align-content: center;
    top: 30%;
    right: 30%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: skyblue;
}

.title-doi-password
{
    color: rgb(65, 4, 109);
    width: 100%;
    text-align: center;
}

.form-doi-password
{
    width: 100%;
    height: 100%;
}

.form-doi-password p
{
    width: 100% !important;
    height: auto;
    padding: 10px 0px;
    align-content: center;
}

.box-doi-password input
{
    width: 100% !important;
    margin-bottom: 10px;
    box-sizing: border-box;
}
