* {
    margin: 0;
    padding: 0;
}

/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("/project-FindU/public/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #8A25EF; */
}

header
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.box-header-left
{
    width: 80%;
    height: 100%;
    border: 1px solid skyblue;
    text-align: center;
}

.box-header-right
{
    width: 20%;
    height: 100%;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 100%;    
    display: flex;
}

.sidebar {
    width: 20%;
    height: auto;
}

.content {
    width: 80%;
    height: auto;
}


footer
{
    width: 100%;
    height: auto;
    background-color: beige;
}