.content-banbe {
    width: 100%;
    margin-top: 55px;
    display: flex;
}

.sidebar-banbe {
    width: 20%;
    height: 100vh;
    background-color: #e3e3e3;
}

.sidebar-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
}

.sidebar-menu {
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu .items {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.sidebar-menu .items a {
    text-decoration: none;
    color: black;
}

.sidebar-menu .items:hover {
    background-color: #3503596b;
}

.sidebar-menu .items:hover a {
    color: #FFFFFF;
    font-weight: bolder;
}

.main {
    width: 80%;
    height: auto;
    min-height: 100vh;
    display: grid;
}

.list-loiMoi {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px 0px;
}

.list-goiY {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px 0px;
}

.cards {
    min-width: 120px;
    height: 300px;
    box-shadow: 0px 0px 5px #c8c7c7;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 10px;
    float: left;
}

.box-avatar {
    width: 100%;
    height: 200px;
}

.box-avatar>img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.cards:hover img {
    transition: 0.1s ease-in-out;
    box-sizing: border-box;
}

.card-title {
    height: 50px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 1px solid #e3e3e3;
    font-weight: bold;
}

.card-frm {
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
}

.card-frm button {
    width: 88%;
    padding: 7px 0px;
    border-radius: 5px;
    border: none;
    background-color: #e3e3e3;
    margin: 5px 0px;
}

.card-frm button:hover {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #3503596b;
}

/* List lời mời ghép đôi */
.cards-loiMoi {
    height: 350px;
}

.card-frm-loiMoi {
    height: 100px;
}