.list-capDoi {
    width: 100%;
    height: auto;
    background-color: #f0f2f4;
}

.list-capDoi-box {
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: skyblue;
}

.title-list-capDoi {
    width: 90%;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0px;
}

.capDoi-card {
    width: 22.5%;
    min-width: 200px;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 8px #d8d8d8;
    float: left;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.capDoi-card-avatar {
    width: 100%;
    overflow: hidden;
}

.capDoi-card-avatar img {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.capDoi-card-info {
    width: 100%;
    padding: 5px 10px;
    font-weight: 650;
}

.capDoi-card-frm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    gap: 10px;
    box-sizing: border-box;
}

.capDoi-card-frm button {
    width: 90%;
    border: none;
    background-color: #eb0052;
    padding: 7px 0px;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 650;
}