* {
    margin: 0;
}

/* Quicksand */
@font-face {
    font-family: "Quicksand";
    src: url("/project-FindU/public/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("/project-FindU/public/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url("/project-FindU/public/assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #8A25EF; */

}

button,
input,
textarea,
select {
    font-family: 'Montserrat', sans-serif;
}

/* ============HEADER CHUNG ACOUNT, INDEX============ */
#hd-acount,
#hd-index {
    width: 100%;
    height: 55px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(15px);
    /* làm mờ nền phía sau */
    -webkit-backdrop-filter: blur(30px);
    /* hỗ trợ Safari */
    box-shadow: 0px 1px 20px rgb(0, 0, 0, .1);
}

header a {
    text-decoration: none;
}

#hd-acount .box,
#hd-index .box {
    padding: auto;
    display: flex;
    align-items: center;
}

.box-left,
.box-right {
    width: 30%;
}

.box-center {
    width: 40%;
}

.icon-menu {
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}

.box-center .items:hover {
    background-color: rgba(94, 94, 94, 0.1);
}

.box-right .items img:hover {
    box-shadow: 0px 0px 15px rgba(32, 32, 32, 0.2);
}

.box-left-brand {
    width: 30%;
    display: flex;
    align-items: center;
    padding: auto;
}

.box-left-brand nav {
    width: auto;
    height: 100%;
    padding: 0px 5px 0px 10px;
}

.box-left-brand #img-logo {
    width: 100%;
    padding: auto;
}

.box-left .brand>a {
    width: auto;
    color: #41046d;
    font-size: 24px;
}


/* MENU  */
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.box-right .menu {
    justify-content: right !important;
}

.menu .items {
    width: auto;
    height: 65%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 10px;
    padding: 0px 15px;
}

header .menu .items a {
    color: rgb(86, 0, 147);
    font-weight: bold;
    text-decoration: none;
}

/* header index */
.box-index {
    width: 50% !important;
    padding: auto;
    display: flex;
    align-items: center;
}

.box-index nav,
.box nav {
    width: 30%;
    height: 50%;
    text-align: right;
    padding-right: 10px;
}

#img-logo {
    width: auto;
    height: 100%;
    padding: auto;
}

.brand>a {
    width: auto;
    color: #FFFFFF;
}

.menu-index {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.menu-index .items {
    width: auto;
    height: 65%;
    background-color: #FFFFFF;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 10px;
    padding: 0px 15px;
}


header .menu-index .items a {
    color: rgb(86, 0, 147);
    font-weight: bold;
    text-decoration: none;
}

/* header acount */

.box-acount-left .brand>a {
    color: rgb(65, 4, 109) !important;
}

.box-acount-left {
    width: 80% !important;
}

.box-acount-left nav {
    width: 60% !important;
}

.box-acount-right {
    width: 20% !important;
}

.menu-acount .items,
.menu-acount .items>a {
    background-color: rgb(65, 4, 109) !important;
    color: #FFFFFF !important;

}

.menu-level-2 {
    display: none;
    position: fixed;
    top: 45px;
    left: 88%;
    border-radius: 10px;
}

.menu-level-2 .items {
    width: auto;
    background-color: #6f93c9;
    padding: 10px 5px !important;
    margin: 10px 0px;
    box-sizing: border-box;
}

.items:hover .menu-level-2 {
    display: block;
}

/* Đổi mật khẩu */
.box-doi-password {
    width: 40%;
    height: auto;
    position: fixed;
    align-content: center;
    top: 200px;
    right: 30%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: skyblue;
}

.title-doi-password {
    color: rgb(65, 4, 109);
    width: 100%;
    text-align: center;
}

.form-doi-password {
    width: 100%;
    height: 100%;
}

.form-doi-password p {
    width: 100% !important;
    height: auto;
    padding: 10px 0px;
    align-content: center;
}

.box-doi-password input {
    width: 100% !important;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Footer layout*/
footer {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

/* ==============HOME============== */
.main {
    width: 100%;
    min-width: 1125px;
    height: 100%;
    display: flex;

}

#header-home {
    width: 40px;
    height: 50%;
    position: fixed;
    right: 0;
    top: 25%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-home {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
}

.menu-home .items {
    width: 100%;
    box-sizing: border-box;
}

.menu-home .icon-menu {
    width: 100%;
    box-sizing: border-box;
}

.menu-home .icon-menu:hover {
    /* background: linear-gradient(to top right, #fd267a, #ff6036); */
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.box-left-search {
    width: 100%;
}

.main-left {
    width: 24.6%;
    min-width: 325px;
    height: auto;
    float: left;
    border-right: 1px solid #d8d8d8;
}

.sidebar {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}

.main-right {
    width: 75%;
    min-width: 800px;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
}